@media (max-width: 576px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 1rem;
    }
}


@media (min-width: 1200px) { 
    body {
        font-size: 1.25rem;

        #portfolio {
            padding-top: 100px;
        }
    }
}